@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5kbagk');
  src:  url('../fonts/icomoon.eot?5kbagk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5kbagk') format('truetype'),
    url('../fonts/icomoon.woff?5kbagk') format('woff'),
    url('../fonts/icomoon.svg?5kbagk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-full:before {
  content: "\e900";
  color: #C10D0C;
}
.icon-headphones:before {
  content: "\e910";
  color: #ccc;
  float: left;
}
.icon-play2::before {
  content: "\ea15";
   color: #ccc;
}
.icon-arrow-right:after {
  content: "\ea34";
  color: #C10D0C;
}

*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}



/*===============section============*/
section .wrap{
	width: 980px;
	height: 1503px;
	margin: 0 auto;
	display: flex;
}
section .wrap .left{
	width: 74.49%;
	height: 100%;
	border-left:1px solid #d3d3d3;
	border-right:1px solid #d3d3d3;
	box-sizing: border-box;
	margin-right: -1px;
	padding: 20px 20px 40px 20px;
}
section .wrap .left .wrapleft{
	width: 688px;
	height: 100%;
}
section .wrap .left .wrapleft .hotbar{
	width: 100%;
	height: 35px;
	border-bottom: 2px solid #C10D0C;
	text-align: center;
}
section .wrap .left .wrapleft .hotbar a#hot{
	display: inline;
	float: left;
    font-size: 20px;
    text-decoration: none;
    line-height: 35px;
    height: 35px;
    color: #000;
    padding-left: 10px;
}
section .wrap .left .wrapleft .hotbar .tab{
	width: 240px;
	height: 16px;
	float: left;
	margin-top: 7px;
	margin-left: 15px;
}
section .wrap .left .wrapleft .hotbar .tab li{
	width: 47px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border-right: 1px solid #ccc;
	float: left;
}
section .wrap .left .wrapleft .hotbar .tab li a{
	color: #666;
	font-size: 12px;
	text-decoration: none;
}
section .wrap .left .wrapleft .hotbar a.more:hover,
section .wrap .left .wrapleft .hotbar .tab li a:hover{
	border-bottom: 1px solid #ccc;
}
section .wrap .left .wrapleft .hotbar a.more{
	margin-top: 12px;
	font-size: 12px;
	color: #666;
}
section .wrap .left .wrapleft .content{
	margin-top: 20px;
}
section .wrap .left .wrapleft .content ul a[class^="icon-"], a[class*=" icon-"]{
	opacity: 0.7;
}
section .wrap .left .wrapleft .content ul a[class^="icon-"]:hover{
	opacity: 1;
}
section .wrap .left .wrapleft .content li{
  width: 172px;
  height: 234px;
  float: left;
  text-align: center;
  position: relative;
}
section .wrap .left .wrapleft .content li p a{
	width: 140px;
	color: #000;
	font-size: 14px;
    margin-left: 10px;
}
section .wrap .left .wrapleft .content li p span{
	font-size: 4px ;
	color:  #C10D0C;
	border:1px solid  #C10D0C;
}
/*section .wrap .left .wrapleft .content li p a:hover{
	border-bottom: 1px solid #333;
}*/
section .wrap .left .wrapleft .content li .music1 .bottom{
	width: 140px;
	height: 27px;
	color:#ccc;
	border-top: 1px solid #333;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	left: 50%;
	margin-left: -70px;
	top:113px;
	padding: 0 10px;
}
section .wrap .left .music1 .bottom a,
section .wrap .left .music1 .bottom span{
	height: 27px;
	line-height: 27px;
}
section .wrap .left .wrapleft .ad img{
	display: block;
	margin: 0 auto;
	width: 668px;
	height: 75px;
}
section .wrap .left .wrapleft .hotbar.new{
	margin-top: 30px;
}
section .wrap .left .wrapleft .inner{
	margin-top: 20px;
	width: 100%;
	height: 186px;
	background-color: #f5f5f5;
	border:1px solid #ccc;
	box-sizing: border-box;
	padding-top: 20px;
	position: relative;
	overflow: hidden;
}
section .wrap .left .wrapleft .inner .contents{
	width: 2058px;
	position: absolute;
	left: -686px;
}
section .wrap .left .wrapleft .inner .contents ul{
	width: 686px;
	height: 150px;
	display: flex;
	justify-content: space-around;
	position: absolute;
	/*float: left;*/
}
section .wrap .left .wrapleft .inner .contents li{
	width: 110px;
	height: 150px;
	text-align: center;
}
section .wrap .left .wrapleft .inner .contents li p{
	font-size: 12px;
}
section .wrap .left .wrapleft .inner .control #prev,
section .wrap .left .wrapleft .inner .control #next{
	width: 17px;
	height: 17px;
	font-size: 25px;
	color: #333;
	font-family: "宋体";
	position: absolute;
	top: 50%;
	margin-top: -12.5px;
}
section .wrap .left .wrapleft .inner .control #next{
	right: 0;
}
section .wrap .left .wrapleft .hotbar.list{
	margin-top: 30px;
}
section .wrap .left .wrapleft .musicList{
	height: 478px;
	width: 100%;
	background-color: #f5f5f5;
	border:1px solid #ccc;
	box-sizing: border-box;
	margin-top: 20px;
	display: flex;
}
section .wrap .left .wrapleft .musicList .one,
section .wrap .left .wrapleft .musicList .two,
section .wrap .left .wrapleft .musicList .three{
	flex: 1;
	border-right: 1px solid #ccc;
}
section .wrap .left .wrapleft .musicList dl{
	width: 100%;
	height: 100%;
	
}
section .wrap .left .wrapleft .musicList dl dt{
    padding-left: 20px;
	padding-top: 20px;
}
section .wrap .left .wrapleft .musicList dl div.title{
	width: 105px;
	height: 60px;
	float: right;
	padding-top: 10px;
	position: relative;
}
section .wrap .left .wrapleft .musicList dl div a.title{
	color: #333;
	font-size: 14px;
} 
section .wrap .left .wrapleft .musicList dl div .icon-play2::before{
	content: "\ea15";
	font-size: 22px;
	color: #666;
	position: absolute;
	left: 10px;
	top: 45px;
}
section .wrap .left .wrapleft .musicList dl a.icon-folder-add{
	color: #666;
	font-size: 27px;
	position: absolute;
	left: 40px;
	top: 43px;
}
section .wrap .left .wrapleft .musicList dl dd li{
	width:228px;
	height: 32px;
	line-height: 32px;
	padding-left: 28px;
}
section .wrap .left .wrapleft .musicList dl dd li .oper{
	float: right;
	padding-right: 20px;
	position: relative;
	display: none;
}
section .wrap .left .wrapleft .musicList dl dd li:hover .oper{
	display: block;
}
section .wrap .left .wrapleft .musicList dl dd li .oper i{
	margin-right: 10px;
}
section .wrap .left .wrapleft .musicList dl li .oper i.icon-play2:before{
  content: "\ea15";
  color: #333;
  font-size: 15px;
  margin-top: 6px;
 }
section .wrap .left .wrapleft .musicList dl dd li .oper i.icon-folder-add{
	font-size: 19px;
	position: absolute;
	right: -10px;
	top: 50%;
	margin-top: -9.5px;
}
section .wrap .left .wrapleft .musicList dl dd li a:hover{
	border-bottom: 1px solid #000;
}
section .wrap .left .wrapleft .musicList dl dd li a.right{
	margin-left: 130px;
	border-right:0;
}
section .wrap .left .wrapleft .musicList dl dd li a{
	color: #000;
	font-size: 13px;
}
section .wrap .left .wrapleft .musicList dl dd li:nth-of-type(odd){
	background-color: #e8e8e8;
}
section .wrap .left .wrapleft .musicList .three{
	margin-right: -1px;
}
/*=======================right================*/
section .wrap .right{
	width: 25.51%;	
	height: 100%;
	border-right:1px solid #d3d3d3;
	border-left:1px solid #d3d3d3;
	box-sizing: border-box;
}
section .wrap .right .login{
	width: 100%;
	height: 126px;
	text-align: center;
	background: url(../images/right/index.png) no-repeat 0 0;
}
section .wrap .right .login p{
  padding: 15px;
  line-height: 22px;
  color: #666;
  font-size: 14px;
}
section .wrap .right .login a{
	margin: 0 auto;
	display: block;
    width: 100px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    background-color: #C90C13;
    border-radius: 5px;
    text-shadow: 0 1px 0 #8a060b;
    text-decoration: none;
 }
 section .wrap .right .singer{
 	box-sizing: border-box;
 	width: 100%;
 	height: 455px;
 	padding: 10px 20px 0 20px;
 }
 section .wrap .right .singer h5{
 	height: 24px;
 	line-height: 24px;
 	border-bottom: 1px solid #ccc;
 }
 section .wrap .right .singer h5 a{
 	float: right;
 	color: #666;
 }
 section .wrap .right .singer li{
 	height: 62px;
 	margin-top: 18px;
 }
  section .wrap .right .singer li a{
  	display: block;
  }
 section .wrap .right .singer li .singers{
 	float: right;
   height: 62px;
   width: 145px;
   background-color: #fafafa;
   border-width:1px 1px 1px 0;
   border-style: solid;
   border-color: #e9e9e9;
   box-sizing: border-box;
   padding-left: 10px;
 }
 section .wrap .right .singer li .singers p{
 	margin-top: 9px;
 	font-size: 12px;
 	line-height: 20px;
 	color: #000;
 }
 section .wrap .right .singer li .singers p span{
 	color: #666;
 	color: 12px;
 }
 section .wrap .right .apply{
 	margin: 0 auto;
 	width: 210px;
 	height: 31px;
 	border:1px solid #ccc;
 	text-align: center;
 	border-radius: 5px;
 	background-image: linear-gradient(#fff,#ccc);
 }
 section .wrap .right .apply a{
 	font-size: 13px;
 	color: #333;
 	line-height: 31px;
 	font-weight: bold;
 } 
 section .wrap .right .hots{
 	width: 100%;
 	height: 294px;
 	padding: 20px;
 	box-sizing: border-box;
 } 
 section .wrap .right .hots h5{
 	height: 24px;
 	border-bottom: 1px solid #ccc;
 }
 section .wrap .right .hots ul{
 	margin-top: 25px;
 }
section .wrap .right .hots li{
 	width: 100%;
 	height: 50px;
 }
section .wrap .right .hots li .info{
  width: 160px;
  height: 45px;
  float: right;
  font-size: 13px;
  padding-top: 5px;
}
section .wrap .right .hots li .info a{
	font-weight: bold;
	color: #000;
}
section .wrap .right .hots li .info a i{
	color: red;
	font-style: normal;
}
section .wrap .right .hots li .info span{
	color: #666;
}
/*==============footer===============*/
footer{
	width: 100%;
	height: 140px;
	background-color: #f2f2f2;
	border-top: 1px solid #d3d3d3;
}
footer .wrap{
	width: 980px;
	height: 91px;
	margin: 0 auto;
}

/*----------------bottom------------------*/
section#bottom{
	width: 100%;
	height: 140px;
	padding-bottom: 20px;
	/*margin-top: 20px;*/
	background-color: #f2f2f2;
	font-size: 12px;
}
section#bottom div.copy_left{
    float: left;
	width: 490px;
	height: 83px;
    padding-top: 35px;
}

div.copy_left p{
	display: inline-block;
	padding: 5px 0;
}

div.copy_left span.line{
	display: inline-block;
	width: 1px;
	height: 16px;
	padding: 0 8px;
	/*background-color: #999;*/
}
section#bottom div.copy_left a{
	display: inline-block;
	width: 48px;
	height: 16px;
	line-height: 16px;
	color: #999;
}
section#bottom div.copy_right ul{
	float: right;
	display: inline-block;
	height: 70px;
	width: 330px;
	margin-top: 30px;
	/*background-color: red;*/
	display: flex;
}
div.copy_right ul li{
	width: 60px;
	height: 70px;
	/*background-color:skyblue;*/
	text-align: center;
	margin-left: 22.5px;
}
div.copy_right ul li a{
	
	color: #9e9e9e;
}