*{
	padding: 0;
	margin: 0;
}
 ul{
  list-style: none;
}
a{
	text-decoration: none;
}
body{
	font: 12px/18px "微软雅黑,宋体";
}
/*清除浮动*/
.clearfix::after,
.clearfic::before{
	content:"";
	display: table;
}
.clearfix::after{
	clear:both;
}
.wrap{
	width: 1210px;
	margin: 0 auto;
}
.topBar{
	height: 30px;
	background-color: #f1f1f1;
	line-height: 30px;
}
.topBar span{
  /*font-size: 12px;*/
  color:#666;
}
.topBar i{
	font-style: normal;
	width: 12px;
	height: 8px;
	line-height: 16px;
	display:inline-block;
	position: relative;
	overflow: hidden;
	top: 3px;
}
.topBar i s{
	text-decoration: none;
	width: 12px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: -9px;
	/*font-size: 12px;*/
    color: #666;
}
.topBar .left{
	float: left;
}
.topBar .right{
	  height: 30px;
	  float: right;
}

.topBar .right ul li{
   float:left;

}
.topBar .right ul li.line{
	height: 16px;
	display: inline-block;
	border-right: 1px solid #ccc;
	margin-top: 7px;
}
.topBar .right ul li a{
	text-decoration: none;
	color: #666;
	padding: 0 5px; 
}
.topBar .right ul li.red a,
.topBar .right ul li a:hover{
	color: #e01222;
}
.topBar a span.mobilephone{
	display: inline-block;
	width: 15px;
	height: 20px;
	background: url(../images/sprite.png) 0 0 no-repeat;
	position: relative;
	top: 5px;
}
.topBar a:hover span.mobilephone{
	background-position: 0 -25px;
}
.ad{
	background-color: rgb(130, 45, 187);
}
.ad .wrap{
	width: 1210px;
	height: 80px;
	margin: 0 auto;
	background: url(../images/topbanner.jpg) top center no-repeat;
	position: relative;
}
.ad .wrap .close{
	width: 19px;
	height: 19px;
	/*display: inline-block;*/
	background: url(../images/close.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	right: 0;
}
.ad .wrap .close:hover{
	background-position: 0 -19px;
}
.nav .logo{
	float: left;
	position: relative;
}
.nav .logo h1{
	text-indent: -9999em;   /*隐藏文字*/
	width: 270px;
	height: 60px;
	padding-top: 25px;
	background: url(../images/logo.png) bottom center no-repeat;
}
.nav .logo img{
	float: left;
	position: absolute;
	right: -80px;
	bottom: 0;
}
.nav .search{
	float: left;
	padding:30px 0 0 100px;
}
.nav .search form #searchText{
	height: 32px;
	border: 2px solid #b61d1d;
	outline: none;
	font-size: 18px;
	padding-left: 5px;
	width: 440px;
}
.nav .search form #searchButton{
	height: 36px;
	background-color:#b61d1d;
	border: 0;
	outline: none;
	width: 80px;
	color: #fff;
	font-size: 20px; 
	position: relative;
	top: 3px;
}
.nav .search .keywords li{
	float: left;
}
.nav .search .keywords li a{
	color: #888;
	text-decoration: none;
	padding: 0 5px;
	font-size: 12px;
}
.nav .search .keywords li a:hover,
.nav .search .keywords li.active a{
	color: #e01222;
}
.nav .shoppingCar{
	border:1px solid #dfdfdf;
	width: 138px;
	height: 33px;
	float: right;
	margin: 32px;
	margin-right: 50px;
	line-height: 33px;
	text-align: center;
	position: relative;
}
.nav .shoppingCar i{
	display: inline-block;
	width: 18px;
	height: 16px;
	background: url(../images/sprite.png) 0 -57px no-repeat;
	position: relative;
	top: 2px;
}
.nav .shoppingCar span{
	display: block;
	width: 20px;
	height: 20px;
	background-color: #B61D1D;
	font-size:10px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	border-radius: 10px 10px 10px 0;
	position: absolute;
	top: -10px;
	right: 10px;
}
.nav .navBar{
	padding-top:85px;
	padding-left:210px;
	height: 44px;
}
.nav .navBar ul{
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	height: 44px;
}
.nav .navBar li{
	float: left;
	font-size: 18px;
	line-height: 44px;
	padding:0 15px;
}
.nav .navBar li a{
	text-decoration: none;
	color: #666;
	position: relative;
	font-size:15px;
}
.nav .navBar li a:hover{
	color: #e01222;
}

.nav .navBar li .new::after{
	content: "";
	width: 16px;
	height: 17px;
	position: absolute;
	top: -10px;
	right: -16px;
	background: url(../images/new.jpg);	
}

.main{
	background:url("../images/banner.jpg") top center no-repeat;
	height: 580px;
	margin-top: 70px;
	position: relative;
}
.main .list{
	width: 210px;
	position: relative;
	color: #fff;
	top: -54px;
	float: left;
}
.main .list h3{
	height: 44px;
	width: 210px;
	background-color: #b61d1d;
	font-size:18px;
	line-height: 44px;
	text-align: center;
	position: absolute;
	top: -44px;
	left: 0;
}
.main .list li{
	line-height: 30px;
	background-color: #c81623;
	border-bottom: 1px solid #b61d1d;
	padding: 0 15px;
}
.main .list li::after{
	content: '>';
	float: right;
}
.main .slider{
	float: left;
	padding:11px 0 0 11px;
	margin-top: -55px;
	position: relative;
}
.main .slider > a{
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 50%;
	margin-top:-25px;
	width: 30px;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #fff;
	text-decoration: none;
	text-align:center;
}
.main .slider > a#prev{
	left: 11px;
}
.main .slider > a#next{
	right: 0;
}
.main .slider .point{
	position: absolute;
	bottom: 30px;
	width: 730px;
	text-align: center;
}
.main .slider .point a{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #333;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	line-height: 16px;
	text-align:center;
	margin: 0 4px;
}
.main .slider .point a.active{
	background-color:#e01222;
}
 .main .right_main{
	width: 248px;
	height: 453px;
	border-top:1px solid #E5E5E7;
	border-right:1px solid #E5E5E7;
	border-left:1px solid #E5E5E7;
	float: right;
	margin-top: -45px;
}
.main .right_main .right_new {
	height: 202px;
   border-bottom: 1px solid  #E5E5E7; 
}
.main .right_main .life p,
.main .right_main .right_new p{
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	border-bottom: 1px solid #E5E5E7;
	padding-left: 15px;
	color:#615C56;
}
.main .right_main .right_new  p a{
	text-decoration: none;
	display: inline-block;
	float: right;
	margin-right: 10px;
	font-size: 13px;
	color:#615C56;
}
.main .right_main .right_new ul li{
	height: 12px;
	padding:8px 0 8px 10px;
	display: inline-block;	
}
.main .right_main .right_new ul li a{
	font-size: 13px;
	color:#615C56;
	text-decoration: none;
}
.main .right_main .right_new ul li a span{
	font-weight: bold;
	padding-right: 5px;
}
.main .right_main .right_new a:hover{
	color: #B61D1D;
}
.main .right_main .life{
	height: 251px;
}
.main .right_main .life ul li{
   float: left;
   width: 61px;
   height: 68px;
   border-right:1px solid #E5E5E7;
   border-bottom:1px solid #E5E5E7;
}
.main .right_main .life ul li a span{
	background: url(../images/sprite_fs@1x.png) -4px -88px no-repeat;
	width: 17px;
	height: 23px;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 20px;
}
.main .right_main .life ul li a{
	text-decoration: none;
	color: #615C56;
	width: 45px;
	height: 30px;
	padding-top: 38px;
	padding-left: 15px;
	display: inline-block;
	position: relative;	
}
.main .right_main .life ul li a:hover{
	color:#B61D1D;
}

.dkhs{
    position: absolute;
    left: 70px;
    bottom: 70px;
    /*right: 0;*/
	background-color: #f5f5f5;
	text-align: center;
	padding: 20px 0;
	float: left;

}
.dkhs img{
	padding: 0 30px;
}
.footer{
    height: 500px;
}
.footer a{
	color: #615C56;
}
.footer a:hover{
	color:#B61D1D;
}
.footer .help {
    border-bottom: 1px solid #e5e5e5;
    width: 1210px;
    height: 210px;
}
.footer .help .help_list {
	width: 198px;
	height: 155px;
    float: left;
}
.footer .help h3 {
	font-weight: 800;
	font-size: 14px;
    margin-bottom: 5px;
}
.footer .help li {
    width: 198px;
    line-height: 22px;
}
.footer .help .map {
    width: 203px;
    height: 169px;
    margin-top: 27.5px;
    float: right;
    background: url(../images/china.png) no-repeat 0 -131px;
}
.footer .help .map h5 {
	font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    padding-top: 10px;
    text-align: center;
}
.footer .help .map p {
    padding-top: 10px;
    text-indent: 2em;
}
.footer .help .map p.right {
    text-align: right;
}

.footer .link {
	width: 1210px;
	height: 146px;
    text-align: center;
}
.footer .link p {
    margin-bottom: 10px;
}
.link_list span {
    margin: 0 10px;
}
.footer .link p {
    margin-bottom: 10px;
}

#login-mask{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	display: none;
}
#login-mask .login{
	
	height: 200px;
	width: 200px;
	border-radius: 20px;
	background-color: #eee;
	position: absolute;
	left: 50%;
	margin-left:-150px;
	top: 50%;
	margin-top: -150px;
	padding:50px;
	text-align:center;

}